<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form method="POST" action="/reviews">
            {{> reviews-form}}

            <p>
                <button type="submit">Save Review</button>
            </p>
        </form>
    </div>
</div>

